.groups {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  gap: 30px;
  padding: 60px;
}

.group-card {
  background: white;
  color: black;
  border-radius: 20px;
  padding: 20px;
}

.group-card h3 {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.team {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
