* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #0b1d26;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}
